body {
  min-height: 100vh;
  background-color: #d8dee9;
  margin: 0;
  position: relative;
}

section {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.bg-text {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  font-size: 64px;
  pointer-events: none;

  z-index: 0;
  padding-inline: 12px;
  word-break: break-all;
  white-space: normal;
  z-index: 0;
}

.bg-text p {
  margin: 0;
  font-family: "VT323", monospace;
}

body * {
  font-family: "Roboto Mono", monospace;
  color: #2e3440;
}

.path {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: dash 2.5s ease-in forwards;
  stroke-width: 1.5px;
  stroke: #434c5e;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: 0;
  }
}
