body {
  min-height: 100vh;

  margin: 0;
}

section {
  min-height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  background-color: #d8dee9;
  position: relative;
}

.bg-text {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  font-size: 64px;
  line-height: 75%;
  z-index: 0;
  padding-inline: 12px;
  word-break: break-all;
  white-space: normal;
  z-index: 0;
}

.bg-text p {
  margin: 0;
  font-family: "VT323", monospace;
}

body * {
  font-family: "Roboto Mono", monospace;
  color: #2e3440;
}

textarea.input {
  border-radius: 5px;
  border-color: #3b4252;
  min-width: 180px;
  min-height: 60px;
  padding: 10px;
  background-color: #f0f2f5;
  z-index: 1;
}

textarea.input:focus-within {
  outline-color: #434c5e;
}
